Flask
Jinja2
MarkupSafe
Werkzeug
itsdangerous
pymongo==2.8
wsgiref
gunicorn
happymongo
Flask-WTF
WTForms
python-memcached
python-dateutil
requests
isoweek
flask-classy
flask-restful
celery
pygments
sphinx
sphinx_http_domain

-i http://pypi.cloudapi.co/simple
cloudauth
cloudadmin
