{%- set lookup_type = data.get('lookup_type') %}
<h2>
    {%- set title = unslug(lookup_type)|title %}
    {%- if title == 'Public Ip Zone' %}
        {%- set title = "Public IP Zone" %}
    {% elif title == 'Cbs Host' %}
        {%- set title = "CBS Host" %}
    {% endif -%}
    {{ data.get('region')|upper }} - {{ title }} Breakdown
    <button class="btn btn-default lookup-button" title="Change Datacenter">Change Data Center/Lookup</button>
    {%- if mismatch %}
        <button class="btn btn-info show-all" title="Show All Servers">Show All Servers</button>
    {% endif -%}
    {%- if task_id %}
        <button class="btn btn-primary download-csv" data-task="{{ task_id }}" data-lookup="{{ lookup_type }}" title="Download CSV">Download CSV</button>
    {% endif -%}
</h2>
{%- if data.get('servers') and data.get('servers')|length > 0 %}
    {%- if mismatch %}
        <div class="panel panel-danger" style="width: 50%;">
            <div class="panel-body text-danger">
    {% else %}
        <div class="panel panel-success" style="width: 50%;">
            <div class="panel-body text-success">
    {% endif -%}
            {%- if lookup_type == 'host_server' %}
                <div class="server-data"><span class="total-label">Total Servers: </span>{{ data.get('servers')|length }}</div>
                <div class="server-data"><span class="total-label">Total Hosts: </span>{{ data.get('host_servers')|length }}</div>
            {% else %}
                <div class="server-data"><span class="total-label">Total Servers: </span>{{ data.get('servers')|length }}</div>
                <div class="server-data"><span class="total-label">Total Zones: </span>{{ data.get('public_zones')|length }}</div>
            {% endif -%}
        </div>
    </div>
    {%- if lookup_type == 'public_ip_zone' %}
        <div class="panel panel-danger" style="width: 50%;">
            <div class="panel-body text-danger">
                <span class="total-label">Note:</span> FG Servers are not included in Public IP Zone breakdown.
            </div>
        </div>
    {% endif -%}
    {%- set all_servers = get_formatted_server_list(data) %}
    {%- if all_servers.get('ng') %}
        <h4>Next Gen Servers</h4>
        {%- set servers = all_servers.get('ng') %}
        {%- include '_server_details.html' %}
    {% endif -%}
    {%- if all_servers.get('fg') %}
        <h4>First Gen Servers</h4>
        {%- set servers = all_servers.get('fg') %}
        {%- include '_server_details.html' %}
    {% endif -%}
{% elif data.get('volumes') and data.get('volumes')|length > 0 %}
    {%- if mismatch %}
        <div class="panel panel-danger" style="width: 50%;">
            <div class="panel-body text-danger">
    {% else %}
        <div class="panel panel-success" style="width: 50%;">
            <div class="panel-body text-success">
    {% endif -%}
            <div class="server-data"><span class="total-label">Total Volumes: </span>{{ data.get('volumes')|length }}</div>
            <div class="server-data"><span class="total-label">Total Hosts: </span>{{ data.get('cbs_hosts')|length }}</div>
        </div>
    </div>
    <h4>Volumes</h4>
    {%- set all_volumes = get_formatted_volume_list(data) %}
    {%- include '_cbs_details.html' %}
{% else %}
    <div class="panel panel-warning" style="width: 50%;">
        <div class="panel-body text-warning">You do not have any {% if lookup_type == 'cbs_host' %}volumes{% else %}servers{% endif %} located in this datacenter, or no servers were returned with the query</div>
    </div>
{% endif -%}
<script>
    $('.lookup-button').on('click', function() {
        $('#lookup').modal('show');
    });

    $('.show-all').on('click', function() {
        $('.single-server').toggle();
        if ($('.single-server').is(':visible')) {
            change_button_text('show-all', 'Hide Single Servers', 'warning', 'info');
        } else {
            change_button_text('show-all', 'Show All Servers', 'info', 'warning');
        }
    });

    $('.download-csv').click(function() {
        var task_id = $('.download-csv').data('task');
        var lookup_type = $('.download-csv').data('lookup');
        window.location = '/lookup/servers/' + task_id + '/' + lookup_type + '/csv';
    });
</script>
