<h2>
    {{ data.get('region')|upper }} - Host Server Breakdown
    <button class="btn btn-default lookup-button" title="Change Datacenter">Change Data Center</button>
    {%- if mismatch %}
        <button class="btn btn-info show-all" title="Show All Servers">Show All Servers</button>
    {% endif -%}
    {%- if task_id %}
        <button class="btn btn-primary download-csv" data-task="{{ task_id }}" title="Download CSV">Download CSV</button>
    {% endif -%}
</h2>
{%- if data.get('servers') and data.get('servers')|length > 0 %}
    {%- if mismatch %}
        <div class="panel panel-danger" style="width: 50%;">
            <div class="panel-body text-danger">
    {% else %}
        <div class="panel panel-success" style="width: 50%;">
            <div class="panel-body text-success">
    {% endif -%}
            <div class="server-data"><span class="total-label">Total Servers: </span>{{ data.get('servers')|length }}</div>
            <div class="server-data"><span class="total-label">Total Hosts: </span>{{ data.get('host_servers')|length }}</div>
        </div>
    </div>
    {% set all_servers = get_formatted_server_list(data) %}
    {%- if all_servers.get('ng') %}
        <h4>Next Gen Servers</h4>
        {%- set servers = all_servers.get('ng') %}
        {%- include '_server_details.html' %}
    {% endif -%}
    {%- if all_servers.get('fg') %}
        <h4>First Gen Servers</h4>
        {%- set servers = all_servers.get('fg') %}
        {%- include '_server_details.html' %}
    {% endif -%}
{% else %}
    <div class="panel panel-warning" style="width: 50%;">
        <div class="panel-body text-warning">You do not have any servers located in this datacenter, or no servers were returned with the query</div>
    </div>
{% endif -%}
<script>
    $('.lookup-button').on('click', function() {
        $('#lookup').modal('show');
    });

    $('.show-all').on('click', function() {
        $('.single-server').toggle();
        if ($('.single-server').is(':visible')) {
            change_button_text('show-all', 'Hide Single Servers', 'warning', 'info');
        } else {
            change_button_text('show-all', 'Show All Servers', 'info', 'warning');
        }
    });

    $('.download-csv').click(function() {
        var task_id = $('.download-csv').data('task');
        window.location = '/lookup/servers/' + task_id + '/csv';
    });
</script>
