{% extends "_base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block addHeaders %}
{% endblock %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="site-header">{{ app_title }}</h1>
            {{ app_well|safe }}
            {% if not session.get('username') %}
                <p><a href="{{ url_for('adminblueprint.login') }}" title="Login to Application" class="btn btn-primary">Login to Application</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
    </script>
{% endblock %}
